NET "leds[9]" LOC = P77;
NET "leds[8]" LOC = P83;
NET "leds[7]" LOC = P84;
NET "leds[6]" LOC = P86;
NET "leds[5]" LOC = P89;
NET "leds[4]" LOC = P93;
NET "leds[3]" LOC = P3;
NET "leds[2]" LOC = P6;
NET "leds[1]" LOC = P13;
NET "leds[0]" LOC = P16;
NET "Clock" LOC = P40;
NET "reset" LOC = P35;
NET "start" LOC = P15;
NET "SevsegDriver[7]" LOC = P61;
NET "SevsegDriver[6]" LOC = P60;
NET "SevsegDriver[5]" LOC = P57;
NET "SevsegDriver[4]" LOC = P59;
NET "SevsegDriver[3]" LOC = P56;
NET "SevsegDriver[2]" LOC = P52;
NET "SevsegDriver[1]" LOC = P49;
NET "SevsegDriver[0]" LOC = P50;
NET "SevsegData[6]" LOC = P71;
NET "SevsegData[5]" LOC = P62;
NET "SevsegData[4]" LOC = P65;
NET "SevsegData[3]" LOC = P72;
NET "SevsegData[2]" LOC = P73;
NET "SevsegData[1]" LOC = P98;
NET "SevsegData[0]" LOC = P64;
NET "userMode[4]" LOC = P78;
NET "userMode[3]" LOC = P82;
NET "userMode[2]" LOC = P85;
NET "userMode[1]" LOC = P88;
NET "userMode[0]" LOC = P90;